.Balance {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Balance h4 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #fff;
  font-size: 1rem;
  margin-top: 2rem;
  padding-bottom: 0.3rem;
}

.Balance .react-number-easing {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.Balance .sign {
  font-family: "Exo 2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}
