@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none !important;
}

html {
  min-height: 100vh;
}

body {
  overflow: hidden;
  position: fixed;
  z-index: -50;
  background: #ffffff;
}

.container-app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  background: #000000;
}

.container-upper {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("./res/good.jpg");
  background-size: cover;
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.container-upper-bad {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./res/bad.jpeg");
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-size: cover;
  z-index: 1;
  opacity: 0%;
  transition: opacity 1s ease-in-out;
}

.container-total {
  z-index: 2;
}

.container-buttons {
  z-index: 2;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.85);
  width: 90vw;
  height: 6vh;
  transform: translateY(50%);
  backdrop-filter: blur(40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-buttons .divider {
  background: #bbb;
  width: 0.5vw;
  border-radius: 0.25vw;
  height: 60%;
}

.div-button {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: #131313;
  display: flex;
  justify-content: center;
  transition: color 0.2s ease-in-out;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.div-button .material-icons {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.div-button:active {
  color: #999;
}

.container-lower {
  width: 100vw;
  height: 60vh;
  overflow-y: auto;
}

.container-notrans {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-notrans h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.container-notrans .material-icons-outlined {
  margin-top: 0.5rem;
  font-size: 2.5rem;
}

.container-trans {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}